.portrait {
  height: 124px;
  width: 90px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;

  p {
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 600;
    margin: 0;
  }
}
