.logo {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0.25em;
  font-size: 2rem;
  margin: 0;
}

.primary {
  color: var(--color-primary);
}

.contrast {
  color: var(--color-contrast);
}
